---
import Layout from '../layouts/Layout.astro'
import CategorySelector from '../components/CategorySelector.astro'
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center p-6">
    <div class="text-center">
      <h1>Welcome to the quiz</h1>
      <CategorySelector />
    </div>
  </main>
</Layout>
