---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from '@clerk/astro/components'
import { ViewTransitions } from 'astro:transitions'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html transition:animate="none" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header class="min-h-24 flex gap-4 px-8 justify-between items-center">
      <h1>{title}</h1>
      <nav class="flex gap-8 items-center">
        <ul class="flex gap-6">
          <li><a href="/">Quiz</a></li>
          <li><a href="/dashboard/new-question">Dashboard</a></li>
        </ul>
        <div>
          <SignedOut>
            <SignInButton mode="modal" />
          </SignedOut>
          <SignedIn>
            <UserButton />
          </SignedIn>
        </div>
      </nav>
    </header>
    <article>
      <div class="flex justify-center flex-col items-center">
        <SignedOut>
          <h2>Please Sign in to use the app</h2>
          <SignInButton mode="modal" />
        </SignedOut>
      </div>
      <SignedIn>
        <slot />
      </SignedIn>
    </article>
  </body>
</html>
<style is:global>
  :root {
    --default-background: #eee8e4;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  main {
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  a {
    text-decoration: underline;
  }
  *:focus-visible {
    outline: 0.25em solid black;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  html,
  body {
    height: 100%;
  }
  body {
    background-color: var(--default-background);
    margin: 0;
  }
  legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }
  input[type='radio'] {
    color: black;
  }
  /* Reset Tailwind */
  fieldset {
    border-width: 2px;
    border-style: groove;
    padding-block: 0.35em 0.625em;
    padding-inline: 0.75em;
    border-color: threedface;
  }

  input {
    margin: 0.4rem;
  }

  button {
    margin: 12px 0;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  button {
    background-color: #028081;
    color: white;
    padding: 6px;
  }
</style>
